body{
    background-color: rgb(230, 166, 137);/*background-color es para color de fondo*/
}
h1{
    background-color: rgb(228, 72, 16);
color: rgb(129, 38, 5);/*color es para aplicar color al texto*/
}
h2{
    font-size: 25px;
    background-color: rgb(238, 137, 78);
    color:blanchedalmond;
}
i{
    color: brown;
}
